#map {
    height: 79vh;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.station-popup {
    width: 300px;
    padding: 10px;
    color: #333;
}

.station-name {
    font-size: 18px;
    font-weight: bold;
}

.total-spaces, .station-address {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}

.station-info {
    font-size: 14px;
    margin: 5px 0;
}

.last-update {
    font-size: 10px;
    font-style: italic;
    margin-top: 10px;
    color: #666;
}

.bikes-available.high,
.docks-available.high {
    font-weight: bold;
    color: #28a745;
}

.bikes-available.medium,
.docks-available.medium {
    font-weight: bold;
    color: #ffc107;
}

.bikes-available.low,
.docks-available.low {
    font-weight: bold;
    color: #dc3545;
}

.leaflet-popup-content-wrapper {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-close-button {
    color: #007BFF;
    font-size: 16px;
    font-weight: bold;
}

.station-popup .directions-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    text-decoration: none;
}

.station-popup .directions-button .material-symbols-outlined {
    font-size: 24px;
    color: #000;
}

.directions-icon {
    width: 32px;
    height: 32px;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 100px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.badge {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.badge.oval {
    width: max-content;
}

.badge.not-selected {
    opacity: 0.5;
}

.prochains-passages {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 100px;
    overflow-y: auto;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #333;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

ul, ol {
    margin: 20px 0;
    padding: 0 20px;
}

p, li {
    margin: 10px 0;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}